@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(jizMREVItHgc8qDIbSTKq4XkRiUawTk7f45UM9y05oZ8RdDM.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(jizMREVItHgc8qDIbSTKq4XkRiUawTk7f45UM9y05ob8RNDM.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(jizMREVItHgc8qDIbSTKq4XkRiUawTk7f45UM9y05oYiRNDM.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(jizMREVItHgc8qDIbSTKq4XkRiUawTk7f45UM9y05oZ8RNDM.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(jizMREVItHgc8qDIbSTKq4XkRiUawTk7f45UM9y05oZORNDM.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(jizMREVItHgc8qDIbSTKq4XkRiUawTk7f45UM9y05oaiQ9DM.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(jizMREVItHgc8qDIbSTKq4XkRiUawTk7f45UM9y05oabQ9DM.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(jizMREVItHgc8qDIbSTKq4XkRiUawTk7f45UM9y05ob8Q9DM.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(jizMREVItHgc8qDIbSTKq4XkRiUawTk7f45UM9y05obVQ9DM.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhLsSUBw.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhrsWUBw.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhcMWUBw.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhLsWUBw.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhHMWUBw.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduh8MKUBw.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhycKUBw.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhrsKUBw.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhh8KUBw.ttf) format('truetype');
}
@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(9XUhlJ90n1fBFg7ceXwUEltI.ttf) format('truetype');
}
@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(9XUilJ90n1fBFg7ceXwUvnpoxA.ttf) format('truetype');
}
@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(9XUilJ90n1fBFg7ceXwU2nloxA.ttf) format('truetype');
}
@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(9XUnlJ90n1fBFg7ceXwsdg.ttf) format('truetype');
}
@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(9XUilJ90n1fBFg7ceXwUgnhoxA.ttf) format('truetype');
}
@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(9XUilJ90n1fBFg7ceXwUrn9oxA.ttf) format('truetype');
}
@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(9XUilJ90n1fBFg7ceXwUyn5oxA.ttf) format('truetype');
}
@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(k3kKo8YQJOpFgHQ1mQ5VkEbUKaJFsi_-.ttf) format('truetype');
}
@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(k3kKo8YQJOpFgHQ1mQ5VkEbUKaJ3si_-.ttf) format('truetype');
}
@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(k3kKo8YQJOpFgHQ1mQ5VkEbUKaKbtS_-.ttf) format('truetype');
}
@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(k3kKo8YQJOpFgHQ1mQ5VkEbUKaKitS_-.ttf) format('truetype');
}
@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(k3kKo8YQJOpFgHQ1mQ5VkEbUKaLFtS_-.ttf) format('truetype');
}
@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(k3kKo8YQJOpFgHQ1mQ5VkEbUKaLstS_-.ttf) format('truetype');
}
